* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 50px;
}

.nav {
    float: right;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

li {
    display: inline-block;
    margin-left: 50px;
}

a {
    color: white;
    text-decoration: none;
}

.hero img {
    max-width: 99.35vw;
}

content {
    display: flex;
    flex-direction: column;
} 

content img {
    width: 400px;
    margin-left: 50px;
}

content p {
    margin: 50px;
}

h2 {
    padding: 50px;
}

section {
    padding: 50px;
    min-height: 100vh;
    background-color: lightblue;
}

section img {
    width: 300px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    padding: 50px;
    border: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 25px;
    height: fit-content;
}

#main-project {
    width: 75vw;
    height: 40vh;
}

#center-main-project {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    height: fit-content;
    background-color: darkblue;
    color: white;
    padding: 50px;
}